html
    head
        title Myapp
    body(class='myClass')
        h1(id='myId') My App
        p
            h3 sub heading
            ul
                each val in ['1','2','3']
                    // no space after li
                    li= val